<ul>
  <div  class="display" *ngFor="let file of filesOuter" >
    <div *ngIf="file.type=='folder'">
        <i (click)="folderClick()"  *ngIf="HideFiles" class="fas fa-folder" style="font-size:48px;color:blue;"></i>
          <li (click)="folderClick()"><a href="#">{{file.name}}-{{file.type}}-{{file.size}}-{{file.createdAt}}</a></li>
            <div *ngFor="let file2 of file.files">
              <ul>
                  <div class="display" *ngIf="file2.type=='text'&& !isFile  && folder2File">
                    <i class="fas fa-file-word" style="font-size:48px;color:blue"></i>
                    <li><a href=""> {{file2.name}}-{{file2.type}}-{{file2.size}}-{{file2.createdAt}}</a></li>
                  </div>
                  <div  class="display"*ngIf="file2.type=='folder'">
                    <i   (click)="folder2Click()" *ngIf="folder2File && !isFile" class="fas fa-folder" style="font-size:48px;color:blue;"></i>
                    <li  (click)="folder2Click()" *ngIf="!isFile && folder2File"><a href="#"> {{file2.name}}-{{file2.type}}-{{file2.size}}-{{file2.createdAt}}</a></li>
                  </div>
                <ul>
                  <div class="display" *ngFor ="let subinner of file2.files">
                    <div *ngIf="subinner.type=='text' && !isFile && folder2File">
                      <i  class="fas fa-file-word" style="font-size:48px;color:blue"></i>
                      <li *ngIf="folder2File"><a href="">{{subinner.name}}-{{subinner.type}}-{{subinner.size}}-{{subinner.createdAt}}</a></li>
                    </div>
                  </div>
                </ul>
              </ul>
            </div>
     </div>
     <div  *ngIf="file.type=='text'">
        <i *ngIf="HideFiles" class="fas fa-file-word" style="font-size:48px;color:blue"></i>
        <li *ngIf="HideFiles"><a href="#">{{file.name}}-{{file.type}}-{{file.size}}-{{file.createdAt}}</a></li>
    </div>
    <div *ngIf="file.type=='image'">
        <i *ngIf="HideFiles" class="fas fa-image" style="font-size:48px;color:blue;"></i>
        <li *ngIf="HideFiles"><a href="#">{{file.name}}-{{file.type}}-{{file.size}}-{{file.createdAt}}</a></li>
    </div>
  </div>
</ul>









  

